.layout {
    margin-left:-5em; padding-left:5em;
    background:image-url('logo.png') 0 0 no-repeat;
}

.page-error {
    min-width:600px; width:600px; margin:10em auto 0 auto;

    .page-title { font-size:3em; }
}